*{
    margin: 0;
    padding: 0;
        box-sizing: border-box;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 60px;
    background-color: #000000;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo-header{
    width: 150px;
    height: 120px;
    margin-left: 20px;
    margin-top: 5px;
}
.header-button{
    width: 90px;
    height: 30px;
    background-color: #172be2;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 20px;
    font-size: 12px;
}
.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center ;
}
#main-background{
    background-image: url('../assets/Inicio-Práctica\ para\ PC.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    min-height: 600px;
}
.icon-talentos{
    width: 50px;
    height: 120px;
    position: absolute;
    right:0;
    top:50px;
}
 h1{
    font-size: 2rem;
    padding: 10px 20px 10px 20px;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    max-width: 800px;
    
 }
 .main-p{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    max-width: 800px;
    font-size: 1rem;
 }

 /* SECCIÓN DE BENEFICIOS */

 .beneficios-container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    width: auto;
    height:auto;
 }

 #section-beneficios-background{
    background-color: #ff0000;
    padding: 40px 0;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }
 .text-container{
    display: flex;
    flex-direction: column;
    width: 300px;
 }
 .h2-beneficios{
    color: #ffffff;
    font-size: 30px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    max-width: 700px;
 }
 .p-beneficios{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 700px;
    padding: 0 20px;
 }
.img-container-rounded{
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    border-radius: 50%;
    margin: 0px 20px 20px 20px;
}
.img-inicio-beneficios{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

/* SECCIÓN DE FLEXIBILIDAD EN EL TRABAJO */

#section-flexibilidad-background{
    background-color: #ffffff;
    padding: 20px 0;
    margin:0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.secundary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.h2-flexibilidad{
    font-size: 30px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    max-width: 700px;
}
.p-flexibilidad{
    color: #6d6d6d;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-align: center;
    max-width: 700px;
    padding: 20px 20px;
 }

 /* SECCIÓN DE ÍCONOS Y DESCRIPCIÓN EN FLEXIBILIDAD */

 .container-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    font-family: "Raleway", sans-serif;
    padding: 40px 20px;
 }
 .container-items-icon{
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
 }

/* ÍCONOS DE FLEXIBILIDAD */
#icon-trabajohíbrido{
    width: 30px;
    height: 30px;
    background-image: url('../assets//Trabajo\ Híbrido.png');
    background-size: cover;
    margin: 0 10px;
}
#icon-juevesdeplato{
    width: 30px;
    height: 30px;
    background-image: url('../assets/Jueves\ de\ Plato.png');
    background-size: cover;
    margin: 0 10px;
}
#icon-w2days{
    width: 30px;
    height: 30px;
    background-image: url('../assets/W2\ Days.png');
    background-size: cover;
    margin: 0 10px;
}

/* SECCIÓN DE DESCUBRE LA EMPRESA */
.section-descubre{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descubre-background{
    width: 100%;
    height: 400px;
    background-image: url('../assets/Familia\ W2.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
.section-descubre h3{
    font-size: 25px;
    font-family:"Poppins", sans-serif;
    color: #ff0000;
    text-align: center;
    padding: 20px;
}

/* CONTENEDORES DE EQUIPOS */

.equipos-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.item-equipo-container{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}
.item-equipo-text{
    font-family:"Poppins", sans-serif ;
}
.item-equipo-button{
    width: 150px;
    height: 30px;
    background-color: #172be2;
    color: #ffffff;
    border:none;
    border-radius: 10px;
}
/* SECCIÓN DE PREGUNTAS FRECUENTES */
.section-preguntas{
    width: 100%;
    height: auto;
    background-image: url('../assets/Morado\ -\ Circulo.png');
    background-size: cover;
    color:#ffffff;
    font-family:"Poppins", sans-serif;  
    text-align: center;
}
.button-contactanos{
    width: 200px;
    height: 40px;
    background-color: #172be2;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family:"Poppins", sans-serif;  
    margin: 20px 0;
    cursor: pointer;
}
.section-preguntas-tittle{
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container-preguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}
.text-preguntasfrecuentes{
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-preguntasfrecuentes h4{
    font-size: 25px;
    font-weight: 600;
}
.faq-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;

}

.question {
    margin-bottom: 20px;
    max-width: 500px;
}

.question h3 {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.question p {
    margin: 0;
    padding: 10px;
    display: none;
    font-weight: 400;
}
.question p.show-answer {
    display: block;
}
/* FOOTER */
footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #000000;
    padding: 20px;
    justify-content: center;
}
.social-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 300px;
}
.links-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}
h3{
    margin-bottom: 10px;
}
.text-underline{
    text-decoration: underline;
    text-decoration-color: #172be2; 
}
#text-power{
    color: #f8c039;
    text-decoration: underline;
    text-decoration-color: #ffffff; 
}


/* Para dispositivos móviles */
@media (max-width: 768px) {
    .descubre-background {
        background-position: center; /* Centra la imagen vertical y horizontalmente */
    }
    #main-background{
        background-image: url('../assets/Inicio-Práctica.jpg');
    }
}